<app-navbar></app-navbar>

<div class="container mb-5 overflow-hidden">
    <div class="row d-flex justify-content-center mb-5" style="padding-top: 100px;">
        <div class="col-lg-12 d-flex justify-content-center align-items-center flex-column ">
            <div>
                <h2 class=" " style="font-size: clamp(1.375rem, 5vw, 2.5rem); font-weight: 700;">COVID-19</h2>
            </div>
            <div>
                <p class="" style="text-align: justify;">Coronavirus disease (COVID-19) is an
                    infectious disease caused by a newly discovered coronavirus.
                    Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover
                    without special treatment. </p>

                <h5 class="d-flex " style="font-size: clamp(1rem, 2.5vw, 1.125rem);">HOW IT SPREADS</h5>
                <p class="m-0">
                    The virus that causes COVID-19 is mainly transmitted through droplets generated when an infected
                    person coughs, sneezes,
                    or exhales. These droplets are too heavy to hang in the air, and quickly fall on floors or
                    surfaces.
                    You can be infected by breathing in the virus if you are within close proximity of someone who
                    has
                    COVID-19, or by
                    touching a contaminated surface and then your eyes, nose or mouth.
                </p>


            </div>
        </div>
    </div>

    <div class="row justify-content-md-center border pb-3 " data-aos-delay="200">
        <div class="col-lg-12">
            <h4 class="pt-3" style="text-transform: uppercase;">Most common symptoms:</h4>
            <span class="" style="font-weight:600;">Note: </span><span>Click the photos to see definition.</span>
        </div>

        <div class="col-lg-4 col-6 d-flex justify-content-center   mt-4" data-toggle="modal"
            data-target="#exampleModalScrollable">
            <div class="card d-flex flex-column align-items-center justify-content-center" style="width: 18rem;">
                <div class="card-body text-center">
                    <img class="card-img-top " img src="assets/img/symptoms/Fever.png" alt="Card image cap">
                    <h5 class="py-3 m-0">Fever</h5>

                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal" id="exampleModalScrollable" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalScrollableLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenteredLabel">What is Fever?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        A fever is a body temperature that is higher than normal. A normal temperature can vary from
                        person to person, but it is
                        usually around 98.6 °F (37 °C). A fever is not a disease. It is usually a sign that your body is
                        trying to fight an
                        illness or infection. Infections cause most fevers.
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-6 d-flex justify-content-center   mt-4" data-toggle="modal"
            data-target="#drycough-modal">
            <div class="card d-flex flex-column align-items-center justify-content-center" style="width: 18rem;">
                <div class="card-body text-center">
                    <img class="card-img-top " img src="assets/img/symptoms/Cough.png" alt="Card image cap">
                    <h5 class="py-3 m-0">Dry Cough</h5>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal" id="drycough-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenteredLabel">What is Dry Cough?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Dry coughs are often difficult to manage and may present in long fits. Dry coughs occur because
                        there's inflammation or
                        irritation in your respiratory tract, but there's no excess mucus to cough up. Dry coughs are
                        often caused by upper
                        respiratory infections, such as a cold or the flu.
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-6 d-flex justify-content-center   mt-4" data-toggle="modal"
            data-target="#headache-modal">
            <div class="card d-flex flex-column align-items-center justify-content-center" style="width: 18rem;">
                <div class="card-body text-center">
                    <img class="card-img-top " img src="assets/img/symptoms/Headache.png" alt="Card image cap">
                    <h5 class="py-3 m-0">Headache</h5>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal" id="headache-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenteredLabel">What is Headache?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Headache or head pain sometimes can be difficult to describe, but some common symptoms include
                        throbbing, squeezing,
                        constant, unrelenting, or intermittent. The location may be in one part of the face or skull or
                        may be generalized
                        involving the whole head. The head is one of the most common sites of pain in the body.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-6 d-flex justify-content-center   mt-4" data-toggle="modal"
            data-target="#Diarrhea-modal">
            <div class="card d-flex flex-column align-items-center justify-content-center" style="width: 18rem;">
                <div class="card-body text-center">
                    <img class="card-img-top " img src="assets/img/symptoms/Diarrhea.png" alt="Card image cap">
                    <h5 class="py-3 m-0">Diarrhea</h5>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal" id="Diarrhea-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenteredLabel">What is Diarrhea?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Diarrhea is loose, watery stools (bowel movements). You have diarrhea if you have loose stools
                        three or more times in
                        one day. Acute diarrhea is diarrhea that lasts a short time. It is a common problem. It usually
                        lasts about one or two
                        days, but it may last longer.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-6 d-flex justify-content-center   mt-4" data-toggle="modal" data-target="#Sore-modal">
            <div class="card d-flex flex-column align-items-center justify-content-center" style="width: 18rem;">
                <div class="card-body text-center">
                    <img class="card-img-top " img src="assets/img/symptoms/Sore throat.png" alt="Card image cap">
                    <h5 class="py-3 m-0">Sore Throat</h5>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal" id="Sore-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenteredLabel">What is Sore Throat?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        A sore throat is pain, scratchiness or irritation of the throat that often worsens when you
                        swallow. The most common
                        cause of a sore throat (pharyngitis) is a viral infection, such as a cold or the flu.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-6 d-flex justify-content-center   mt-4" data-toggle="modal"
            data-target="#Aching-modal">
            <div class="card d-flex flex-column align-items-center justify-content-center" style="width: 18rem;">
                <div class="card-body text-center">
                    <img class="card-img-top " img src="assets/img/symptoms/Aching muscles.png" alt="Card image cap">
                    <h5 class="py-3 m-0">Muscle Pain</h5>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal" id="Aching-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenteredLabel">What is Aching Muscles?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Aching Muscles is most often related to tension, overuse, or muscle injury from exercise or hard
                        physical work. The pain
                        tends to involve specific muscles and starts during or just after the activity. It is often
                        obvious which activity is
                        causing the pain.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-6 d-flex justify-content-center   mt-4" data-toggle="modal"
            data-target="#Shortness-modal">
            <div class="card d-flex flex-column align-items-center justify-content-center" style="width: 18rem;">
                <div class="card-body text-center">
                    <img class="symptoms-breath card-img-top img-fluid" img
                        src="assets/img/symptoms/Shortness of breath.png" alt="Card image cap"
                        style="height: 156px; width: 156px;">
                    <h5 class="py-3 m-0">Shortness of Breath</h5>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal" id="Shortness-modal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalScrollableLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenteredLabel">What is Shortness of Breath?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Shortness of breath, or dyspnea, is an uncomfortable condition that makes it difficult to fully
                        get air into your lungs.
                        Problems with your heart and lungs can harm your breathing. Some people may experience shortness
                        of breath suddenly for
                        short periods of time.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-6 d-flex justify-content-center   mt-4" data-toggle="modal"
            data-target="#Fatigue-modal">
            <div class="card d-flex flex-column align-items-center justify-content-center" style="width: 18rem;">
                <div class="card-body text-center">
                    <img class="card-img-top " img src="assets/img/symptoms/Fatigue.png" alt="Card image cap">
                    <h5 class="py-3 m-0">Fatigue</h5>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal" id="Fatigue-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenteredLabel">What is Fatigue?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Fatigue is a feeling of constant tiredness or weakness and can be physical, mental or a
                        combination of both. It can
                        affect anyone, and most adults will experience fatigue at some point in their life.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-6 d-flex justify-content-center   mt-4" data-toggle="modal" data-target="#Loss-modal">
            <div class="card d-flex flex-column align-items-center justify-content-center" style="width: 18rem;">
                <div class="card-body text-center">
                    <img class="symptoms-loss card-img-top img-fluid" img src="assets/img/symptoms/tasteandsmell.png"
                        alt="Card image cap" style="height: 156px; width: 156px;">
                    <h5 class="py-3 m-0">Loss of Taste & Smell</h5>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal" id="Loss-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenteredLabel">What is Loss of Taste & Smell?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Loss of taste and smell can have a significant impact on quality of life, often leading to
                        decreased appetite and poor
                        nutrition. Sometimes loss of taste and smell contributes to depression. Loss of taste and smell
                        also might tempt you to
                        use excess salt or sugar on your food to enhance the taste — which could be a problem if you
                        have high blood pressure or
                        diabetes.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<app-footer></app-footer>