<app-navbar></app-navbar>

<div class="container">
    <div class="row" style="padding-top: 100px;">
        <div class="col-lg-12 vh-100 bg-white">
            <div >
                <h3>Resources</h3>
                <h5 class="pt-3">Covid-19</h5>
                <a href="https://www.who.int/health-topics/coronavirus#tab=tab_1">https://www.who.int/health-topics/coronavirus#tab=tab_1</a>
               <br><a href="https://doh.gov.ph/COVID-19/FAQs">https://doh.gov.ph/COVID-19/FAQs</a>

               <h5 class="pt-2">Mayor Facebook Page</h5>
               <a href="https://www.facebook.com/attyrolenpaulinojr/">https://www.facebook.com/attyrolenpaulinojr/</a>

               <h5 class="pt-2">Olongapo City Information Center</h5>
               <a href="https://www.facebook.com/olongapopublicaffairs/">https://www.facebook.com/olongapopublicaffairs/</a>

               <h5 class="pt-2">Olongapo City Website</h5>
               <a href="https://www.olongapocity.gov.ph/">https://www.olongapocity.gov.ph/</a>

               <h5 class="pt-2">Gordon College</h5>
               <a href="https://www.facebook.com/GordonCollegeOfficial/">https://www.facebook.com/GordonCollegeOfficial/</a>


            </div>
           

        </div>
    </div>
</div>
<app-footer></app-footer>
