<app-navbar></app-navbar>

<div class="container-fluid p-0 m-0">
    <div class="container" style="margin-top: 120px;">
        <div class="cards" *ngFor="let data of city;">
            <div class="card-single">
                <div *ngFor="let count1 of count1">
                    <h1 class="total">{{data.ctotal_cases}}<p class="count-total">(+{{count1.count1}})</p>
                    </h1>
                    <span>Total Confirmed Cases</span>
                </div>
                <div>
                    <span><img class=" animated" src="assets/img/icon3.png" width="40px" height="40px" alt=""></span>
                </div>
            </div>

            <div class="card-single" *ngFor="let count of count">
                <div>
                    <h1 class="recovered">{{data.crecovered_cases}}<p class="count-recovered">(+{{count.count}})</p>
                    </h1>
                    <span>Total # of Recoveries</span>
                </div>
                <div>
                    <span><img class=" animated" src="assets/img/icon2.png" width="40px" height="40px" alt=""></span>
                </div>
            </div>

            <div class="card-single" *ngFor="let counts of counts">
                <div>
                    <h1 class="death">{{data.cdeath_cases}}<p class="count-death">(+{{counts.counts}})</p>
                    </h1>
                    <span>Total # of Death</span>
                </div>
                <div>
                    <span><img class=" animated" src="assets/img/icon1.png" width="40px" height="40px" alt=""></span>
                </div>
            </div>

            <div class="card-single">
                <div>
                    <h1 class="activecase">{{data.cactive_cases}}</h1>
                    <span>Active Cases</span>
                </div>
                <div>
                    <span><img class=" animated" src="assets/img/icon2.png" width="40px" height="40px" alt=""></span>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="container mt-5 p-0">
        <div class="row flex-column-reverse flex-md-row">
            <div class="col-lg-12 ">
                <div class="projects-map">
                    <div class="card-map">
                        <div class="card-header-map">
                            <h3 style="font-size: clamp(1.25rem, 2.5vw, 25px); font-weight: 600;">Locate your Barangay
                            </h3>
                             <button>See all <span class="las la-arrow-right"></span></button>
                        </div>
                        <div class="card-body p-0 m-0 ">
                            <div class="card-container">
                                <div class="card">
                                    <div id="mapid"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
             <div class="col-lg-5 bg-success">
            <h4 class="p-5 text-white">Search Cases</h4>
            <button class="btn btn-primary">MALE</button>
            <button class="btn btn-primary">FEMALE</button>
        </div>
        </div>
    </div> -->
    <div class="container">
        <div class="recent-grid-map">
            <div class="projects-map">
                <div class="card-map">
                    <div class="card-header-map">
                        <h3 style="font-size: clamp(1.25rem, 2.5vw, 25px); font-weight: 600;">Locate your Barangay</h3>

                        <!-- <button>See all <span class="las la-arrow-right"></span></button> -->
                    </div>
                    <div class="card-body">
                        <div class="card-container">
                            <div class="card">
                                <div id="mapid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 
    <div class="container">
        <div class="recent-grid-chart">
            <div class="projects-chart">
                <div class="card-chart">
                    <div class="card-header-chart">
                        <h3>Barangay Chart</h3> -->

    <!-- <button>See all <span class="las la-arrow-right"></span></button> -->
    <!-- </div> -->

    <!-- <div class="container-fluid">
                        <div *ngIf="chart">
                            <canvas #canvas id="canvas">{{ chart }}</canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="container">
        <div class="recent-grid-ngxchart">
            <div class="projects-ngxchart">
                <div class="card-ngxchart">
                    <div class="card-header-ngxchart">
                        <h3 style="font-size: clamp(1.25rem, 2.5vw, 25px); font-weight: 600;">Barangay Cases Percentage
                        </h3>

                        <!-- <button>See all <span class="las la-arrow-right"></span></button> -->
                    </div>

                    <div class="d-flex justify-content-center" id="chartcontainer">
                        <ngx-charts-advanced-pie-chart style="margin-left: 3rem;" [view]="view" [scheme]="colorScheme"
                            [results]="brgypercent" [gradient]="gradient">
                        </ngx-charts-advanced-pie-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="recent-grid-ngxchart">
            <div class="projects-ngxchart bg-white ">
                <div class="card-header-ngxchart">
                    <h3 style="font-size: clamp(1.25rem, 2.5vw, 25px); font-weight: 600;">Covid Cases Age Percentage
                    </h3>
                </div>

                <div class="card-ngxchart d-flex justify-content-center align-items-center flex-column">

                    <ngx-charts-bar-vertical style="background: #fff;" [view]="view" [scheme]="colorScheme2"
                        [results]="agepercent" [gradient]="gradient2" [xAxis]="showXAxis" [yAxis]="showYAxis"
                        [legend]="showLegend2" [showXAxisLabel]="showXAxisLabel">
                    </ngx-charts-bar-vertical>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12 ">
                <div class=" shadow">
                    <div>
                        <h3 class=" pl-3 py-3  border-bottom"
                            style="font-size: clamp(1.25rem, 2.5vw, 25px); font-weight: 600;">Gender
                            Cases Percentage</h3>
                    </div>
                    <div class="d-flex flex-row justify-content-around  p-3">
                        <div class="col-lg-4  p-0 male-bg" data-toggle="modal" data-target="#male-stat"
                            style="border-radius: 15px; ">
                            <div class="d-flex justify-content-center align-items-center ">
                                <div class="col-lg-4">
                                    <img src="assets/img/man.svg" alt="">
                                </div>
                                <div class="col-lg-8 p-3">
                                    <h4 style="font-weight: 700;">Male</h4>
                                    <p>Confirmed Cases</p>
                                    <h3 style="color: #7FABDA">50.24%</h3>
                                </div>

                            </div>
                        </div>

                        <div class="modal" id="male-stat" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalScrollableLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenteredLabel">Male Covid Statistic</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Total Confirmed: 1074</p>
                                        <p>Total Recovered: 521</p>
                                        <p>Total Death: 32</p>
                                        <p>Active: 521</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4  p-0"  data-toggle="modal" data-target="#female-stat" style="border-radius: 15px; background-color:  #ff226f13;">
                            <div class="d-flex justify-content-center align-items-center ">
                                <div class="col-lg-4">
                                    <img src="assets/img/woman.svg" alt="">
                                </div>
                                <div class="col-lg-8 p-3">
                                    <h4 style="font-weight: 700;">Female</h4>
                                    <p>Confirmed Cases</p>
                                    <h3 style="color: #E92662;">49.71%</h3>
                                </div>

                            </div>
                        </div>
                        <div class="modal" id="female-stat" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalScrollableLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenteredLabel">Female Covid Statistic</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Total Confirmed: 1057</p>
                                        <p>Total Recovered: 539</p>
                                        <p>Total Death: 21</p>
                                        <p>Active: 496</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>

    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="recent" style="margin-top: 3rem;">
                    <div class="projects">
                        <div class="card">
                            <div class="card-header">
                                <h3 style="font-size: clamp(1.25rem, 2.5vw, 25px); font-weight: 600;">Barangay Cases
                                </h3>
                                <!-- <button>See all <span class="las la-arrow-right"></span></button> -->
                            </div>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table width="100%">
                                        <thead>
                                            <tr>
                                                <td>Barangay name</td>
                                                <td>Total</td>
                                                <td>Recovered</td>
                                                <td>Death</td>
                                                <td>Active</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let b of brgy; let i = index">
                                                <td>{{ b?.brgy_name }}</td>
                                                <td>{{ b?.brgy_totalcases }}</td>
                                                <td>{{ b?.brgy_recoveredcases }}</td>
                                                <td>{{ b?.brgy_deathcases }}</td>
                                                <td>{{ b?.brgy_activecases }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row pb-5">
            <div class="contact-mayor-info d-flex flex-row">
                <div class="col-lg-9">
                    <img src="assets/img/bg-mayor-rolen-jr.jpg" width="850px" alt="">

                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="list-group list-group-flush">
                            <a href="https://www.facebook.com/attyrolenpaulinojr/" target="_blank"
                                class="list-group-item list-group-item-action"><i
                                    class="fab fa-facebook fa-lg fa-fw text-primary mr-2"></i>Mayor Facebook Page</a>

                            <a href="https://www.facebook.com/olongapopublicaffairs" target="_blank"
                                class="list-group-item list-group-item-action"><i
                                    class="fab fa-facebook fa-lg fa-fw text-primary mr-2"></i>Public Affairs Office</a>
                            <a href="https://www.facebook.com/DRRMO.OlongapoCity/" target="_blank"
                                class="list-group-item list-group-item-action"><i
                                    class="fab fa-facebook fa-lg fa-fw text-primary mr-2"></i>DRRMO Olongapo
                            </a>
                            <a href="https://www.facebook.com/GordonCollegeOfficial/" target="_blank"
                                class="list-group-item list-group-item-action"><i
                                    class="fab fa-facebook fa-lg fa-fw text-primary mr-2"></i>Gordon College</a>
                            <a href="https://www.facebook.com/PNP.OCPO" target="_blank"
                                class="list-group-item list-group-item-action"><i
                                    class="fab fa-facebook fa-lg fa-fw text-primary mr-2"></i>PNP - Olongapo City</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>