<app-navbar></app-navbar>
<div class="container mb-5 overflow-hidden">
    <div class="row d-flex justify-content-center mb-5" style="padding-top: 100px;">
        <div class="col-lg-12 ">
            <div>
                <h2 class="text-center" style="font-size: clamp(1.375rem, 5vw, 2.5rem); font-weight: 700;">PREVENTION
                </h2>
            </div>

            <div class="row justify-content-md-center  pb-3" data-aos-delay="200">

                <div class="col-lg-4 col-6 d-flex justify-content-center   mt-4">
                    <div class="card d-flex flex-column align-items-center justify-content-center"
                        style="width: 18rem;">
                        <div class="card-body text-center">
                            <img class="animated stayathome-img card-img-top img-fluid"
                                src="assets/img/prevention/stayathome.png" alt="Card image cap"
                                style="height: 150px; width: 150px;">
                            <h5 class="py-3 m-0">Stay at Home</h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-6 d-flex justify-content-center mt-4">
                    <div class="card d-flex flex-column align-items-center justify-content-center"
                        style="width: 18rem;">
                        <div class="card-body text-center">
                            <img class="card-img-top " src="assets/img/prevention/distance.svg"
                                alt="Card image cap">
                            <h5 class="py-3 m-0">Keep Distance</h5>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-6 d-flex justify-content-center mt-4">
                    <div class="card d-flex flex-column align-items-center justify-content-center"
                        style="width: 18rem;">
                        <div class="card-body text-center">
                            <img class="card-img-top "  src="assets/img/prevention/mask.svg" alt="Card image cap">
                            <h5 class="py-3 m-0">Wear a Mask</h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-6 d-flex justify-content-center mt-4">
                    <div class="card d-flex flex-column align-items-center justify-content-center"
                        style="width: 18rem;">
                        <div class="card-body text-center">
                            <img class="card-img-top prevention-img " src="assets/img/prevention/washhand.svg"
                                alt="Card image cap" style="height: 150px; width: 150px;">
                            <h5 class="py-3 m-0">Wash hands often</h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-6 d-flex justify-content-center mt-4">
                    <div class="card d-flex flex-column align-items-center justify-content-center"
                        style="width: 18rem;">
                        <div class="card-body text-center">
                            <img class="card-img-top " src="assets/img/prevention/handsanitizer.svg"
                                alt="Card image cap">
                            <h5 class="py-3 m-0">Use Alchocol</h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-6 d-flex justify-content-center mt-4">
                    <div class="card d-flex flex-column align-items-center justify-content-center"
                        style="width: 18rem;">
                        <div class="card-body text-center">
                            <img class="card-img-top prevention-img" src="assets/img/prevention/crowd.png"
                                alt="Card image cap" style="height: 150px; width: 150px;">
                            <h5 class="py-3 m-0">Avoid crowded</h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>