<div class="container">
      <h1 class="mt-4">TheRichPost.com</h1>
     
      <input class="form-control mb-5" type="file" class="upload" (change)="changeListener($event.target.files)">
   
      <table class="table table-bordered table-dark mt-5">
        <thead>
          <tr>
            <th *ngFor="let item of lines[0]; let i = index">{{item}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of linesR[0]; let i = index">
            <td *ngFor="let itemm of lines[0]; let j = index">{{item[j]}}</td>
            
          </tr>
        </tbody>
      </table>
    </div>